<html>
    <head></head>
    <style>
        body{
            padding-top: 20px;
        }
        div{
            text-align: center;
            padding-top: 2px;
            width: 1000px;
            height: 100px;
            background-color:salmon;
        }
        a{
            text-align: end;
        }
    </style>
    <body>
        <div><h1>Examly</h1>
        </div>
    </body>
</html>