<html>
    <head>
        <title>
            checking.....
        </title>
        <link rel="icon" href="/img/main.png">
    </head>
    <body>
        <p>{{msg}}</p>
        <a href="{{lnk}}">{{go}}</a>
    </body>
</html>