<html>
    <head>
        <title>EXAMLY</title>
        <link rel="icon" href="/img/main.png">
    </head>
    <style>
        body{
            background-color: lightslategrey;
        }
        .main{
            padding-top: 0px;
            width: 1300px;
            height: 300px;
            background-color: papayawhip;
            padding-top: 200px;
        }
        a{
            color: #333333;
            text-decoration: none;
        }
        h1{
            color: #333333;
        }
        .hd{
            width: 1000px;
            height: 50px;
        }
        img{
            width: 100px;
            height:30px;
            padding-top: 10px;
        }
    </style>
    <body>
        <center>
            {{>header}}
            <div class="main">
                <img src="/img/arrow.png">
                <a href="/login">Login/Sign Up</a>
            </div>
    </body>
</html>