<html>
<head>
<title>
    Login
</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/img/main.png">
</head>
<body>
    <center>{{>header}}</center>
<center>
<div class="main">
    <form id="from">
    <br><br><br><br><br><br>
    <h1 id="head">Login </h1>
    <input type="text" name="uname" id="uname" placeholder="user_name" required><br><br><br>
    <input type="password" name="upass" id="upass" placeholder="user_password" required><br><br><br>
    <button id="lg">Login</button>
    </form>
<p id="psgnp">New User?<button id="sg" onclick="change()" onmouseover="dec(this)">Sign Up</button></p>
</div>
<center>
</body>
<script src="/js/controller.js"></script>
</html>